body,
html {
  width: 100%;
  height: 100%;

  .swiper-container {
    height: 100%;

    .swiper-slide {
      width: 100%;
      height: 100%;

      .bg1 {
        background: url(../images/04/bg.gif) no-repeat;

        .bg1-inner {
          position: absolute;
          top: 3.226667rem;
          left: 0;
          padding: 0.526667rem;
          background: rgba($color: #fff, $alpha: 0.6);
        }
      }

      .bg2 {
        background: url(../images/05/bg.png) no-repeat;

        .person-wrap {
          width: 6.733333rem;
          height: 14.43333rem;
          position: absolute;
          left: 0;
          top: 2rem;
          z-index: 1;
        }

        .person {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
          }
        }

        .bg1-inner {
          position: absolute;
          bottom: 3.546667rem;
          right: 0;
          padding: 0.526667rem;
          background: rgba($color: #fff, $alpha: 0.6);
          z-index: 2;
        }
      }

      .bg10 {
        background: url(../images/17/bg.gif) no-repeat;

        .person-wrap {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
        }

        .person {
          width: 100%;
          height: 100%;
          background: url(../images/17/person.png) no-repeat;
          background-size: 100% 100%;
        }
        .woman {
          width: 100%;
          height: 100%;
          background: url(../images/17/woman.png) no-repeat;
          background-size: 100% 100%;
        }

        .bg1-inner {
          position: absolute;
          bottom: 2.24rem;
          left: 0;
          padding: 0.526667rem;
          background: rgba($color: #fff, $alpha: 0.6);
          z-index: 3;
        }
        .bg2-inner {
          position: absolute;
          top: 4.213333rem;
          right: 0;
          padding: 0.526667rem;
          background: rgba($color: #fff, $alpha: 0.6);
          z-index: 3;
          .margin {
            margin-top: 0.166667rem;
          }
        }
      }

      .bg3 {
        background: url(../images/07/bg.gif) no-repeat;
        .type-wrap {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: url(../images/07/01.png) no-repeat;
          background-size: 100% 100%;
          -webkit-animation: bling 2s infinite;
          animation: bling 2s infinite;
          .type {
            width: 100%;
            height: 100%;
            background: url(../images/06/fushi.png) no-repeat;
            background-size: 100% 100%;
          }
          .family {
            background: url(../images/07/family.png) no-repeat;
            background-size: 100% 100%;
          }
          .sport {
            background: url(../images/08/sport.png) no-repeat;
            background-size: 100% 100%;
          }
          .zhubao {
            background: url(../images/09/zhubao.png) no-repeat;
            background-size: 100% 100%;
          }
        }
        .bg1-inner {
          position: absolute;
          bottom: 3.546667rem;
          left: 0;
          padding: 0.526667rem;
          background: rgba($color: #fff, $alpha: 0.6);
          z-index: 2;
        }
      }

      .bg4 {
        background: url(../images/10/bg.gif) no-repeat;
        .bg1-inner {
          position: absolute;
          top: 2.226667rem;
          left: 0;
          padding: 0.526667rem;
          background: rgba($color: #fff, $alpha: 0.6);
        }
      }

      .bg8 {
        background: url(../images/13/bg.gif) no-repeat;
        .bg1-inner {
          position: absolute;
          top: 2.226667rem;
          left: 0;
          padding: 0.526667rem;
          background: rgba($color: #fff, $alpha: 0.6);
        }
      }
      .bg9 {
        background: url(../images/15/bg.gif) no-repeat;
        .bg1-inner {
          position: absolute;
          top: 2.226667rem;
          right: 0;
          padding: 0.526667rem;
          background: rgba($color: #fff, $alpha: 0.6);
          .margin {
            margin-top: 0.166667rem;
          }
        }
      }
      .bg11 {
        background: url(../images/18/bg.gif) no-repeat;
        .success {
          width: 8.693333rem;
          bottom: 1.533333rem;
          position: absolute;
          right: 50%;
          margin-right: -4.3466666rem;
          height: 5.6rem;
          background: url(../images/18/success.png) no-repeat;
          background-size: 100% 100%;
          display: none;
        }
        .button {
          width: 8.693333rem;
          bottom: 1.533333rem;
          position: absolute;
          right: 50%;
          margin-right: -4.3466666rem;
          height: 5.6rem;
          background: url(../images/18/lingqu.png) no-repeat;
          background-size: 100% 100%;
          .lingqu {
            position: absolute;
            bottom: 0;
            width: 3.546667rem;
            height: 0.88rem;
            left: 50%;
            margin-left: -1.77333rem;
            opacity: 0;
            z-index: 3;
          }
        }
        .bg11-1 {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url(../images/18/bg2.gif) no-repeat;
          background-size: 100% 100%;
        }
        .bg11-2 {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url(../images/18/bg3.gif) no-repeat;
          background-size: 100% 100%;
        }
        // .text {
        //   position: absolute;
        //   width: 7.866667rem;
        //   top: 2.226667rem;
        //   right: 50%;
        //   margin-right: -3.933333rem;
        //   img{
        //     width: 100%;
        //     animation: bling 2s infinite;
        //   }
        // }
      }

      .bg5 {
        background: url(../images/11/bg1.gif) no-repeat;
        .bg1-inner {
          position: absolute;
          top: 2.226667rem;
          left: 0;
          padding: 0.526667rem;
          background: rgba($color: #fff, $alpha: 0.6);
        }
      }
      .bg6 {
        background: url(../images/11/bg2.gif) no-repeat;
        .bg1-inner {
          position: absolute;
          top: 2.226667rem;
          left: 0;
          padding: 0.526667rem;
          background: rgba($color: #fff, $alpha: 0.6);
        }
      }

      .bg7 {
        background: url(../images/12/bg.gif) no-repeat;
        .type-wrap {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: url(../images/07/01.png) no-repeat;
          background-size: 100% 100%;
          -webkit-animation: bling 2s infinite;
          animation: bling 2s infinite;
          .man {
            width: 100%;
            height: 100%;
            background: url(../images/12/man.png) no-repeat;
            background-size: 100% 100%;
          }
          .woman {
            width: 100%;
            height: 100%;
            background: url(../images/12/woman.png) no-repeat;
            background-size: 100% 100%;
          }
        }
        .bg1-inner {
          position: absolute;
          bottom: 3.546667rem;
          left: 0;
          padding: 0.526667rem;
          background: rgba($color: #fff, $alpha: 0.6);
          z-index: 2;
        }
      }

      .wrap {
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        font-size: 0.453333rem;
        color: #303030;
      }
    }
  }
}

@keyframes ani {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    width: 30px;
    height: 30px;
  }
  30% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    width: 80px;
    height: 80px;
  }
  70% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    width: 150px;
    height: 150px;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 240px;
    height: 240px;
  }
}

@-webkit-keyframes bling {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bling {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

header {
  width: 100%;
  height: 1.066667rem;
  text-align: center;
  position: fixed;
  top: 0.5rem;
  left: 0;
  z-index: 6;
  img {
    height: 100%;
  }
}

.loding {
  width: 100%;
  height: 100%;
  background: rgb(192, 222, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.loader { position: relative; width: 60px; height: 60px; border-radius: 50%; margin: 75px; display: inline-block; vertical-align: middle; }
.loader-star { position: absolute; top: calc(50% - 12px); }
/*LOADER-11*/
    
.loader-17 .css-square { position: absolute; top: 50%; width: 25px; height: 7px; background: white; box-shadow: 2px 2px 3px 0px black; }
.loader-17 .square1 { left: 70px; -webkit-animation: dominos 1s 0.125s ease infinite; animation: dominos 1s 0.125s ease infinite; }
.loader-17 .square2 { left: 60px; -webkit-animation: dominos 1s 0.3s ease infinite; animation: dominos 1s 0.3s ease infinite; }
.loader-17 .square3 { left: 50px; -webkit-animation: dominos 1s 0.425s ease infinite; animation: dominos 1s 0.425s ease infinite; }
.loader-17 .square4 { left: 40px; -webkit-animation: dominos 1s 0.540s ease infinite; animation: dominos 1s 0.540s ease infinite; }
.loader-17 .square5 { left: 30px; -webkit-animation: dominos 1s 0.665s ease infinite; animation: dominos 1s 0.665s ease infinite; }
.loader-17 .square6 { left: 20px; -webkit-animation: dominos 1s 0.79s ease infinite; animation: dominos 1s 0.79s ease infinite; }
.loader-17 .square7 { left: 10px; -webkit-animation: dominos 1s 0.9s ease infinite; animation: dominos 1s 0.9s ease infinite; }
.loader-17 .square8 { left: 0px; -webkit-animation: dominos 1s 1s ease infinite; animation: dominos 1s 1s ease infinite; }

@-webkit-keyframes dominos {
  50% {
 opacity: 0.7;
 }
  75% {
 -webkit-transform: rotate(90deg);
 transform: rotate(90deg);
 }
  80% {
 opacity: 1;
 }
 }
  @keyframes dominos {
  50% {
 opacity: 0.7;
 }
  75% {
 -webkit-transform: rotate(90deg);
 transform: rotate(90deg);
 }
  80% {
 opacity: 1;
 }
 }
 

